* {
 border: none;
 padding: 0;
 margin: 0;
}

body, html {
 font:  bold 11pt sans-serif;
 color: red;
}

.page {
 display: grid;
 grid-template-columns: 2.5in 2.5in 2.5in;
 grid-column-gap: 0;
 grid-row-gap: 0;
 width: 8.5in;
/* height: 10in; */
 padding: 0.25in 0.5in;
}

.page>section {
 width: 2.5in;
 height: 3.5in;
 border: solid 1px black;
 color: blue;
 padding: auto;
 margin: auto;
}

.page>.cutpoint
{
    position: relative;
    left: 0.5in;
    top: 0.25in;
}

/* .page>section:nth-of-type(18)  { background-image: url('background.svg');   } */


@page
{
  size: letter portrait;
  margin: 0;
}
