* {
 border: none;
 padding: 0;
 margin: 0;
}

html {
 color: green;
 font-family:  "Noto Sans Mono", monospace;
}

body {
 display: grid;
 grid-template-columns: 2in 2in 2in 2in;
 grid-column-gap: 0in;
 grid-row-gap: 0;
 width: 8in;
 font-size: 100%;
}

.vcard {
  position: relative;
 /* width+height+padding = 2x3.5 */
 width: 1.75in;
 height: 3in;
 padding: 0.25in 0.125in 0.25in 0.125in;
}

.vcard:nth-of-type(12n) {
  break-after: page;
}

.vcard>.corner {
  position: absolute;
  /* widthxheight = rank + suit */
}

.vcard>.corner>.rank,
.vcard>.corner>.suit {
  font-size: 42pt;
  text-align: center;
  width: 0.375in;
}

.vcard>.corner>.rank {
  line-height: 0.5625in;
  height: 0.5625in;
}

.vcard>.corner>.suit {
  line-height: 24pt; /*Adjusts for placement of suit symbol in font*/
  height: 0.375in;
}

.vcard>.corner:first-of-type {
  left: 0.125in;
  top: 0.25in;
}

.vcard>.corner:last-of-type {
  right: 0.125in;
  bottom: 0.25in;
  transform: rotate(180deg);
}

.vcard>.field {
  position: absolute;
  box-sizing: border-box;
  left: 0.5in;
  top: 0.75in;
  height: 2in;
  width: 1in;
  border: blue 0.0125in solid;
}

.vcard>.field>.ace {
  font-size:  84pt;
  line-height: 1.75in;
  height: 100%;
  width: 100%;
  text-align: center;
}

.vcard>.field>.pip {
  position: absolute;
  font-size:  36pt;
  line-height: 30pt; /*Adjusts for placement of suit symbol in font*/
  height: 0.5in;
  width: 0.5in;
  text-align: center;
}

.vcard>.field>.pip:nth-of-type(1),
.vcard>.field>.pip:nth-of-type(3),
.vcard>.field>.pip:nth-of-type(6),
.vcard>.field>.pip:nth-of-type(9),
.vcard>.field>.pip:nth-of-type(11),
.vcard>.field>.pip:nth-of-type(14) {
  left: calc(50% - 0.5in);
}

.vcard>.field>.pip:nth-of-type(4),
.vcard>.field>.pip:nth-of-type(8),
.vcard>.field>.pip:nth-of-type(12) {
  left: calc(50% - 0.25in);
}

.vcard>.field>.pip:nth-of-type(2),
.vcard>.field>.pip:nth-of-type(5),
.vcard>.field>.pip:nth-of-type(7),
.vcard>.field>.pip:nth-of-type(10),
.vcard>.field>.pip:nth-of-type(13),
.vcard>.field>.pip:nth-of-type(15) {
  right: calc(50% - 0.5in);
}

.vcard>.field>.pip:nth-of-type(1),
.vcard>.field>.pip:nth-of-type(2) {
  top: calc(50% - 1in);
}

.vcard>.field>.pip:nth-of-type(3),
.vcard>.field>.pip:nth-of-type(4),
.vcard>.field>.pip:nth-of-type(5) {
  top: calc(50% - 0.75in);
}

.vcard>.field>.pip:nth-of-type(6),
.vcard>.field>.pip:nth-of-type(7) {
  top: calc(50% - 0.5in);
}

.vcard>.field>.pip:nth-of-type(8) {
  top: calc(50% - 0.25in);
}

.vcard>.field>.pip:nth-of-type(9),
.vcard>.field>.pip:nth-of-type(10) {
  bottom: calc(50% - 0.5in);
  transform: rotate(180deg);
}

.vcard>.field>.pip:nth-of-type(11),
.vcard>.field>.pip:nth-of-type(12),
.vcard>.field>.pip:nth-of-type(13) {
  bottom: calc(50% - 0.75in);
  transform: rotate(180deg);
}

.vcard>.field>.pip:nth-of-type(14),
.vcard>.field>.pip:nth-of-type(15) {
  bottom: calc(50% - 1in);
  transform: rotate(180deg);
}


@page
{
  size: letter portrait;
  /* body(width+height)+page(margin) = 8.5x11 */
  /* At the default 96 pix/in the rendered size of a page should be 816x1056 */
  margin: 0.25in 0.25in;
}
